body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #0f172a; /* Dark background only */
  color: #000;
}


.container {
  max-width: 600px;
  margin: 50px auto;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

input[type="email"],
input[type="password"],
input[type="date"],
input[type="checkbox"] {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bfc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  margin: 12px 0;
  background: #e6f0ff;
  cursor: pointer;
}


